@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  60% {
    _webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

* {
  margin: 0;
}

html,
body {
  --grey: #e1e1e6;
  --black: #202024;
  height: 100%;
  font-family: 'JetBrains Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
}

main {
  background: url(imagens/background.svg) no-repeat center/cover;
}

.conteiner {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
  z-index: 1;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  z-index: 1;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 5rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  z-index: 1;
}
li a img:hover {
  transition: 0.3s;
  border-radius: 40%;
  filter: contrast(120%);
  animation: bounce 0.6s;
  box-shadow: 4px 4px 4px gold;
}
li a img {
  z-index: 1;
  
  border-radius: 40%;
  
  border-bottom: 2px inset #ff7a29;
}

@media (max-width: 500px) {
  main {
    width: 100vw;
    min-height: 812px;
    height: 100%;
    background-color: var(--black);
  }
  .cabo {
    display: none;
  }
  .faixa {
    display: none;
  }
}

@media (min-width: 500px) {
  body {
    background-color: var(--black);
    background-image: url(imagens/Desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
  }

  main {
    background: url(imagens/mask.svg);
    width: 358px;
    height: 540px;
    left: 541px;
    top: 140px;
    border-radius: 4%;
    overflow: hidden;
    display: flex;
    box-shadow: 0rem 0.7rem 1rem rgba(0, 0, 0, 0.452);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left:2px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
  }

  .avatar {
    margin: 4.5rem auto 0;
  }

  ul {
    margin-top: 2.5rem;
  }
  .faixa {
    background: linear-gradient(
      105deg,
      #ff008e 30.24%,
      #f7ae25 100%,
      yellow 100%
    );
    width: 90px;
    height: 740px;
    position: absolute;
    margin-top: -45rem;
    margin-left: 8.9rem;
    z-index: 2;
    box-shadow: 4px 2px 8px #202024;
    border-left:1px outset rgba(255, 255, 255, 0.3);
  }
  .cabo {
    position: absolute;
    background: #121214;
    width: 100px;
    height: 8px;
    margin-top: 18px;
    margin-left: 137px;
    z-index: 1;
  }
}



.avatar span {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

/* ANIMAÇÃO GIRARTORIA DA LOGO */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
